* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topofthesite {
   height: 100px;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, rgb(123, 0, 123), rgb(21, 252, 159)),
    url('./img/cover-image.jpg');
    backdrop-filter: blur(3px); 
    background-attachment: fixed; /* Parallax Effect */
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}
.background-image {
    position: absolute;
    background-image: url('./img/cover-image.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
main {
    padding: 2rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.search-bar {
    text-align: center;
    margin-bottom: 2rem;
    
}

.search-bar input {
    padding: 10px;
    font-size: 1rem;
    width: 50%;
    border-radius: 25px;
    border: 4px solid rgb(192, 255, 201);
    background: linear-gradient(to right, rgba(255, 200, 200, 0.5), rgba(200, 200, 255, 0.5));
    transition: 0.2s;
}

.search-bar input::placeholder {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.search-bar input:hover {
    background: linear-gradient(to right, rgba(213, 255, 200, 0.75), rgba(223, 17, 219, 0.75));
    transition: 0.2s;
}

.weather {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 1rem;
}

.city {
    width: 45%;
    background-color: white;
    border-radius: 21px;
}

.city-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.weather-times {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.tonight {
    font-size: 1.2rem;
}

.tonight span {
    margin-right: 10px;
}

.square {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
}
#location-container {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    width: 1000px;
    min-height: 100vh;
    max-height: 100%;
}
.location {
    display: grid;
    grid-template-rows: 30px 26px 60px; 
    grid-template-columns: 190px, 10px, 1fr;
    flex-wrap: nowrap;
    width: 70%;
    background: linear-gradient(to right, rgba(208, 255, 200, 0.5), rgba(200, 200, 255, 0.5));
    border-radius: 21px;
    margin: 10px;
    padding: 10px;  
    text-align: center;
    transition: 0.2s;
    color: rgb(40, 23, 37);
    height: 100%;
}
.location:hover {
    background: linear-gradient(to right, rgba(213, 255, 200, 0.75), rgba(223, 17, 219, 0.75));
    transition: 0.2s;
}

.locationfont {
    column-span: 1;
    text-align: initial;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.locationtext1 {
    font-size: 15px;
    grid-row: 2; 
    grid-column: 1;
    column-span: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.locationtext2 {
    font-size: 15px;
    grid-column: 3;
    grid-row: 2; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line {
    background-color: rgb(192, 255, 201);
    width: 5px;
    height: 125px;
    grid-column: 2; 
    grid-row: 3; 
    border-radius: 8px;
    grid-area: 1 / 2 / span 3 / span 1;
    margin-top: -3px;
    margin-right: 10px;
    margin-left: 10px;
}

.firstthree {
    grid-column: 3; 
    grid-row: 3; 
}

.lastseven {
    grid-column: 1; 
    grid-row: 3;
    padding-left: 7px;
}
.hidden {
    display: none;
}